#intro 
{
  height: calc(100vh-4rem);   
  width:100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;  
  position: relative;
}




.introContent
{
    height: 100vh;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello
{
    font-size: 1.75 rem;
    font-weight: 100;

}

.introName
{
    color: rgb(0, 129, 251);
}

.introPara
{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn,.btn:hover
{
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.learn:active > .btn
{
    color: black;
    background: white;
}



.btnImg{
    object-fit: cover;
    margin: 0  0.25rem;
    height: 1rem;
}

.expBars
{
    margin : 1.5rem;
    width:100vw;
    max-width: 80%;
    text-align: left;
}

@media screen and (max-width:840px)
{
    .hello
    {
        font-size: 4.5vw;
    }

    .expBars
    {
        margin: auto 0rem;
    }

    .expBarImg
    {
        width: 7rem;
        height: 6rem;
    }
    .expTitle
    {
        font-size: 1rem;
    }
}


@media screen and (min-height:1000px) 
{
    .introContent
    {
        margin-top: 4rem;
        font-size: 6rem;
        height: fit-content;
    }

}