
.project
{
    align-items: center;
    text-align: center;
    width: 30rem;
    margin-bottom: 5rem;
    padding:1rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
    box-shadow: 10px 10px  rgba(0, 0, 0, 0.2);
}

.projDetails
{
    background: rgba(0, 0, 0,0.7);
    border-radius: 2rem;
    padding-bottom: 0.5rem;
}


.projImg
{
    width: 9rem;
    height: 8rem;
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
}

.projTitle
{
    padding: 0.5rem 0rem ;
    font-weight: 300;
    font-size: 1.5rem;
    color: black;
    background: white;
    border-top-left-radius: 2rem;
    border-top-right-radius:2rem;
}

.projDesc
{
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0.2rem 1rem;
    height: 7.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.projRepo,.projRepo:hover
{
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.stackIcons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stackIcon
{
    margin: 0 0.8rem;
    
}

.link{
    text-decoration: none;
}

.techStack
{
    font-size: 1.2rem;
    margin-bottom: 0;
}
.projDetails,.projRepo
{
    transition: background-color 5s  ease;
}

.projDetails:hover,.projRepo:hover{
   
    background: rgb(5, 48, 91) ;
    color: white;
    cursor: pointer;
}


@media screen and  (max-width: 950px){
    .project
    {
        font-size: 1rem;
        font-weight: 200;
        /* height: calc(100vh-2rem); */
        width: 24rem;
        align-items: center;
    }

    .projTitle
    {
        font-size: 1rem;
        font-weight: 600;
    }
    .projDesc 
    {
        font-size: 0.9rem;
        font-weight: 300;        
    }

    .stackIcon
    {
        margin: 0.5rem;
    }

    .techStack
    {
        font-size: 1rem;
        font-weight: 600;
        padding-top: 3rem;
    }
}

@media screen and (min-height : 1000px) and (max-width : 1000px)
{
    .project
    {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .projTitle
    {
        font-size: 1.5rem;
    }


}

@media screen and  (max-width: 540px)
{
    .projDesc
    {
        font-size: 0.8rem;
        height:4rem;
    }


    .projTitle
    {
        font-size: 0.9rem;
    }

    .projRepo
    {
        font-size: 0.8rem;
    }

    
}  


