*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins', sans-serif;
}


body{
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y: scroll ;
}

#icon
{
  width: 5rem;
  height: 5rem;
}

.externalImg
{
  border-radius: 0.5rem;
}