
.project
{
    align-items: center;
    text-align: center;
    width: 28rem;
    margin-bottom: 5rem;
    padding:1rem;
    background: rgb(50,50,50);
    border-radius: 1rem;
    box-shadow: 10px 10px  rgba(0,0,0,0.2);
}

.projDetails
{
    background: rgb(20,20,20);
    border-radius: 2rem;
}

.projImg
{
    width: 9rem;
    height: 8rem;
    margin: 1rem 0.5rem;
    border-radius: 0.5rem;
}

.projTitle
{
    padding: 0.5rem 0rem ;
    font-weight: 300;
    font-size: 2rem;
    color: black;
    background: white;
    border-top-left-radius: 2rem;
    border-top-right-radius:2rem;
}

.projDesc
{
    font-weight: 200;
    font-size: 0.9rem;
    padding: 0rem 1rem;
}

.projRepo,.projRepo:hover
{
    background: white;
    color: black;
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
}

.stackIcons
{
    display: flex;
    flex-direction: row;
}

.link{
    text-decoration: none;
}

@media screen and  (max-width: 950px ){
    .project
    {
        font-size: 1rem;
        font-weight: 200;
        /* height: calc(100vh-2rem); */
        width: 21rem;
        align-items: center;
    }

    .projTitle
    {
        font-size: 1rem;
        font-weight: 300;
    }
    .projDesc 
    {
        font-size: 0.9rem;
        font-weight: 300;
    }
}

@media screen and (min-height : 1000px) and (max-width : 1000px)
{
    .project
    {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
}

/* @media screen and  (max-height: 700px ){
    .project
    {
        height: 10rem;
        font-size: 1rem;
        font-weight: 200;
    }

    
} */


